.delete__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px 0 0 auto;
    padding: 5px 10px;
    background-color: #EB5757;
    border-radius: 6px;
    border: 1px solid rgb(179, 177, 177);
    color: #fff;
    font-family: var(--fontContent);
    font-size: 14px;
    cursor: pointer;
}

.delete__button:hover {
    background-color: #da3a3a;
}

.delete__button:focus {
    outline: none;
}